<!DOCTYPE html>
<body>
    <head>
        <style>
         body {
             background: yellow;
             font-family: serif;
         }
         img {
             float: right;
             width: 200px;
         }
        </style>
    </head>
    <body>
        <h1><center>School News</center></h1>
        {% for article in articles %}
            <div>
                <h2>{{ article.title }}</h2>
                <em>by {{article.author}}. {{article.date}}</em>
                {% if article.picture %}
                    <img src="{{ MEDIA_URL }}{{ article.picture }}">
                {% endif %}
                <p>{{ article.text }}</p>
            </div>
        {% endfor %}
    </body>
</body>
